body {

}

#sorveteria {
   width: 100%;
}

.principal {
    background: #B0C4DE
}


.titulo-principal {
   padding-left: 20px;
}

.titulo-centralizado {
   text-align: center
}

p {
   text-align: center;
}

#lema {
   font-size: 25px;
}

strong {
   color: #483D8B;
}

.beneficios {
  background: #B0C4DE;
}

h2 {
  text-align: center;
}
ul {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  margin-right: 15%;
}

.imagembeneficios {
  width: 50%;
}
